.recent-post_advertising-image-container {
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
}

.recent-post_advertising-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 4px;
}
