.contact-form-container {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.contact-form-title {
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 16px;
}

.contact-input .ant-input::placeholder,
.contact-input::placeholder {
  font-size: 14px;
}

.contact-input:hover,
.contact-input:focus,
.contact-input:focus-within,
.contact-input:active {
  border-color: rgba(118, 75, 162, 1) !important;
}

.contact-form-container .ant-form-item-explain-error {
  font-size: 12px;
  text-align: left;
}

.submit-button span {
  padding: 4px 8px;
}

.submit-button {
  height: 36px !important;
}
