.first-post-wrapper {
  height: fit-content;
}

.center-post-wrapper,
.end-post-wrapper {
  display: grid !important;
  gap: 24px;
}

.center-post-wrapper {
  grid-template-rows: 1fr 1fr;
}

.end-post-wrapper {
  grid-template-rows: 1fr 1fr 1fr;
}
