.tag-container {
  max-width: 120px;
  width: fit-content;
  margin: 0 !important;
}

.tag-container,
.tag-container_categories-list {
  font-size: 13px !important;
  font-weight: 600 !important;
}

.tag-container_categories-list {
  width: fit-content;
  max-width: 90px;
  margin: 0 !important;
  text-wrap: wrap !important;
  text-align: center !important;
}
