#CategoryPostFilter .ant-tabs-tab:hover,
#CategoryPostFilter .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #7754f6 !important;
  text-shadow: 0 0 0.25px #7754f6 !important;
}

#CategoryPostFilter .ant-tabs-ink-bar {
  background-color: #7754f6 !important;
}

#CategoryPostFilter {
  width: fit-content;
}

#CategoryPostFilter .ant-tabs,
.ant-tabs-top {
  background-color: #fff;
}
