.category-post-container {
  display: flex;
  gap: 20px;

  .category-post-image {
    height: 180px;
    width: 270px;
    object-fit: cover;
    cursor: pointer;
    flex-shrink: 0;
    border-radius: 4px;
  }

  .category-post-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 0;
  }

  .category-post-title {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    color: #233242;
    cursor: pointer;
    margin-bottom: 8px;
  }

  .category-post-content,
  .category-post-read-mins {
    color: #565655;
  }

  .category-post-author,
  .category-post-publish-time,
  .category-post-read-mins,
  .category-post-content {
    font-size: 14px;
    line-height: 21px;
  }

  .category-post-author {
    color: #233242;
  }

  .category-post-publish-time {
    color: #b9b9b6;
  }

  @media screen and (max-width: 991px) {
    .category-post-image {
      height: 170px;
      width: 255px;
    }

    .category-post-title {
      font-size: 20px;
      line-height: 24px;
    }
  }

  @media screen and (max-width: 767px) {
    .category-post-image {
      height: 150px;
      width: 225px;
    }
  }

  @media screen and (max-width: 576px) {
    .category-post-image {
      height: 130px;
      width: 144px;
    }

    .category-post-title {
      font-size: 18px;
      line-height: 22px;
      display: -webkit-box !important;
      -webkit-box-orient: vertical !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      -webkit-line-clamp: 2 !important;
    }

    .category-post-content {
      display: -webkit-box !important;
      -webkit-box-orient: vertical !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      -webkit-line-clamp: 2 !important;
    }
  }
}
