#CommentItem {
  .comment-user-icon {
    text-align: center;
    width: 36px;
    height: 36px;
    padding: 8px;
    border: 1px solid #e4e4e4;
    border-radius: 9999px;
  }

  .comment-content-container {
    margin-bottom: 8px;
    width: 100%;
  }

  .comment-author {
    font-size: 14px;
    font-weight: 600;
  }

  .comment-content {
    padding: 0 2px;
    margin-top: 4px;
    font-size: 14px;
    line-height: 20px;
  }

  .reply-button {
    color: #a1a1a1;
    font-size: 12px;
    font-weight: 500;
    padding: 0;
    height: 20px;
  }

  .reply-input {
    width: 80%;
  }

  .send-reply-button {
    font-size: 14px;
    padding: 0;
    color: #52c41a;
  }
}
