.dashboard-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  width: 65%;
  margin: 80px auto 0;
  padding: 24px 0 64px;
  flex: 1;
}

.main-container-width-80 {
  width: 80%;
}
