#CategoriesBlock {
  .categories-container {
    padding: 32px 24px;
    background-color: #efefef;
    border-radius: 12px;
  }

  .categories-block-title {
    margin-bottom: 32px;
    text-align: center;
  }

  .categories-list {
    width: 75%;
    margin: 0 auto;
  }

  @media screen and (max-width: 991px) {
    .categories-container {
      padding: 24px 18px;
    }

    .categories-block-title {
      font-size: 22px;
    }
  }

  @media screen and (max-width: 767px) {
    .categories-container {
      padding: 20px 16px;
    }

    .categories-block-title {
      font-size: 20px;
    }
  }
}
