.featured-posts-container {
  height: 540px;
}

.main-post-container,
.right-posts-container {
  height: 100%;
}

.right-posts-column-wrapper {
  height: 100%;
}

.right-posts-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 24px;
  height: 100%;
}

.add-post-noti {
  color: rgb(70, 70, 70);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
}
