#FeaturedPosts {
  .featured-posts-container {
    height: 400px;
    box-sizing: border-box;
  }

  .main-post-container,
  .right-posts-wrapper {
    height: 100%;
  }

  @media screen and (min-width: 992px) {
  }

  @media screen and (max-width: 991px) {
    .featured-posts-container {
      height: auto;
    }

    .main-post-container :global(.article-card-image) {
      height: 300px !important;
    }

    .right-posts-wrapper {
      height: 360px;
    }
  }

  @media screen and (max-width: 576px) {
    .featured-posts-container {
      height: auto;
      row-gap: 20px !important;
    }

    .right-posts-wrapper {
      height: 240px;
    }
  }
}
