#FeaturedPosts {
  .featured-posts-container {
    height: 400px;
    box-sizing: border-box;
  }

  .main-post-container,
  .right-posts-wrapper {
    height: 100%;
  }

  @media screen and (min-width: 992px) {
  }

  @media screen and (max-width: 991px) {
    .main-post-container {
      margin-bottom: 16px;
    }

    .featured-posts-container {
      height: auto;
      row-gap: 16px !important;
    }

    .main-post-container :global(.article-card-image) {
      height: 300px !important;
    }
  }

  @media screen and (max-width: 767px) {
  }

  @media screen and (max-width: 576px) {
  }
}
