#CategoryInfo {
  .category-info-container {
    position: relative;
  }

  .category-intro-web {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    width: 100%;
    min-height: 40px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    color: #ffffff;
    border-radius: 6px;
    padding: 10px 6px;
    text-align: center;
  }

  .category-intro {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #3f3f3f;
  }

  .category-name {
    margin-top: 6px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
  }

  .category-thumbnail-image {
    border-radius: 9999px;
    width: 60px;
    height: 60px;
  }

  .category-info-header {
    max-height: 110px;
    max-width: 80%;
    width: fit-content;
    background-color: #fff;
    transform: translateY(-4px);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    padding: 8px 16px;
    border-radius: 6px;
  }

  @media (max-width: 991px) {
    .category-name {
      margin-top: 4px;
      font-size: 22px;
      line-height: 28px;
      font-weight: 700;
    }
  }

  @media (max-width: 767px) and (min-width: 480px) {
    .category-info-header {
      max-width: 80%;
    }

    .category-intro {
      font-size: 15px;
      line-height: 18px;
    }

    .category-name {
      font-size: 20px;
      line-height: 26px;
    }
  }

  @media (max-width: 479px) {
    .category-info-header {
      padding: 4px 12px;
    }

    .category-info-header {
      max-width: 95%;
    }

    .category-intro {
      font-size: 13px;
      line-height: 16px;
    }

    .category-name {
      margin-top: 4px;
      font-size: 17px;
      line-height: 22px;
    }

    .category-intro-web {
      font-size: 15px;
      line-height: 20px;
    }
  }
}
