#EndColumnPost {
  .end-post-container {
    width: 100%;
    overflow: hidden;
  }

  .end-post-image-container {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
  }

  .end-post-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  .end-post-info {
    display: flex !important;
    flex-direction: column;
    gap: 4px;
  }

  .end-post-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    cursor: pointer;
  }

  @media screen and (max-width: 991px) {
    .end-post-container {
      display: flex !important;
    }
  }
}
