#TrendingPosts {
  .trending-posts-skeleton_header {
    width: 160px;
    margin-bottom: 24px;
  }

  .trending-post-image-wrapper_node {
    width: 100% !important;
    height: 100% !important;
    border-radius: 8px !important;
  }
}
