.recent-posts-title {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 16px;
}

.recent-posts-container {
  height: 500px;
}

.main-post-container,
.right-posts-container {
  height: 100%;
}

.right-posts-column-wrapper {
  height: 100%;
}

.right-posts-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 24px;
  height: 100%;
}
