.post-meta-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.post-meta-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.post-meta-item p {
  color: #bacce1;
  font-size: 13px;
  font-weight: 600;
}
