#VideoItem {
  .video-title {
    font-size: 16x;
    line-height: 22px;
    font-weight: 600;
    cursor: pointer;
  }

  @media screen and (max-width: 991px) {
  }

  @media screen and (max-width: 767px) {
    .video-title {
      font-size: 16px;
      line-height: 22px;
    }
  }

  @media screen and (max-width: 478px) {
    .video-title {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
