.home-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media screen and (max-width: 991px) {
  .home-container {
    gap: 36px;
  }
}

@media screen and (max-width: 767px) {
  .home-container {
    gap: 32px;
  }
}

@media screen and (max-width: 576px) {
  .home-container {
    gap: 24px;
  }
}
