.home-container {
  display: flex;
  flex-direction: column;
  gap: 48px;

  .sub-featured-post {
    margin-top: 40px;
  }
}

@media screen and (max-width: 991px) {
  .home-container {
    gap: 36px;

    .sub-featured-post {
      margin: 12px 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .home-container {
    gap: 32px;

    .sub-featured-post {
      margin: 12px 0;
    }
  }
}

@media screen and (max-width: 576px) {
  .home-container {
    gap: 30px;

    .sub-featured-post {
      margin: 12px 0;
    }
  }
}
