.footer-wrapper {
  padding: 24px 0;
  background-color: #0c1622;
}

.footer-container {
  width: 80%;
  margin: 0 auto !important;
}

.app-description {
  font-size: 14px;
  line-height: 20px;
  color: #bacce1;
}
