#CenterColumnPost {
  .center-post-container {
    width: 100%;
    overflow: hidden;
    flex: 1;
    height: 100%;
  }

  .center-post-image-container {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
  }

  .center-post-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  .center-post-info {
    display: flex !important;
    flex-direction: column;
    gap: 8px;
  }

  .center-post-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    cursor: pointer;
  }

  .center-post-description {
    font-size: 14px;
    font-weight: 20px;
    color: #565655;
  }

  @media screen and (max-width: 991px) {
    .center-post-container {
      display: flex !important;
    }

    .center-post-description {
      display: -webkit-box !important;
      -webkit-box-orient: vertical !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      -webkit-line-clamp: 1 !important;
    }
  }

  @media screen and (max-width: 768px) {
    .center-post-container {
      display: flex !important;
    }

    .center-post-description {
      display: none !important;
    }

    .center-post-title {
      font-size: 16px;
      line-height: 22px;
    }
  }

  @media screen and (max-width: 576px) {
    .center-post-title {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
