.login-google-wrapper:hover button {
  border-color: #d9d9d9 !important;
}

.login-google-button {
  font-size: 12px !important;
  width: 100%;
  height: 52px !important;
  border-radius: 14px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-google-button:hover {
  color: #1c1c1c !important;
}
