#Comment {
  border: 1px solid #ebebeb;
  border-radius: 6px;

  .comment-container-title {
    border-bottom: 1px solid #ebebeb;
    padding: 16px;
  }

  .comment-container {
    min-height: 160px;
    width: 100%;
    padding: 16px;

    .comment-textarea {
      width: 100%;
    }
  }

  .comment-container_not-login {
    width: 100%;
    padding: 24px;

    p {
      font-size: 14px;
      line-height: 20px;
      color: rgb(78, 78, 78);
    }
  }

  .p-4 {
    padding: 16px;
  }

  .comment-list {
    margin-bottom: 12px;
    max-height: 40vh;
    overflow-y: auto;
  }

  .comment-content-container {
    margin-bottom: 8px;
    width: 100%;
  }

  .comment-author {
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
  }

  .comment-content {
    padding: 0 2px;
    margin-top: 2px;
    font-size: 14px;
    line-height: 20px;
  }

  .send-button {
    font-size: 24px;
    color: #52c41a;
  }

  .comment-user-icon {
    text-align: center;
    width: 36px;
    height: 36px;
    padding: 8px;
    border: 1px solid #e4e4e4;
    border-radius: 9999px;
  }

  .reply-button {
    color: #a1a1a1;
    font-size: 12px;
    font-weight: 500;
    padding: 0;
    height: 20px;
  }

  .send-reply-button {
    font-size: 14px;
    padding: 0;
    color: #52c41a;
  }

  .reply-input {
    width: 80%;
  }
}
