/* Login form  */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.login-form .ant-form-item-explain-error {
  font-size: 14px;
}

/* email address input */
.email-address-input {
  font-size: 30px;
  background: #f0edff !important;
  opacity: 80% !important;
  height: 52px;
  border-radius: 14px !important;
}

.email-address-input:hover,
.email-address-input:focus,
.email-address-input:focus-within,
.email-address-input:active {
  border-color: rgba(118, 75, 162, 1) !important;
}

/* password-input */
.password-input {
  font-size: 30px;
  background: #f0edff !important;
  opacity: 80% !important;
  height: 52px;
  border-radius: 14px !important;
}

.password-input:hover,
.password-input:focus,
.password-input:focus-within,
.password-input:active {
  border-color: rgba(118, 75, 162, 1) !important;
}

/* Login button */
.login-button-wrapper {
  text-align: center !important;
}

.login-button {
  /* background: #7754f6 !important; */
  height: 52px !important;
  width: 124px !important;
  font-weight: 600 !important;
  border-radius: 14px !important;
}

/* Remember me checkbox */
.remember-wrapper {
  margin-bottom: 12px !important;
}
.remember-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background: linear-gradient(
    135deg,
    rgb(102, 126, 234) 0%,
    rgb(118, 75, 162) 70%
  ) !important;
}
.remember-checkbox .ant-checkbox-inner {
  border-color: #d9d9d9 !important;
}

.remember-checkbox .ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: white;
}
.remember-checkbox .ant-checkbox-label {
  color: #818181;
}

/* Forgot password button */
.forgot-password-button,
.forgot-password-button:hover {
  /* color: #7754f6; */
}

/* antd input */
.ant-input-outlined:hover,
.ant-input-outlined:focus-within {
  /* border-color: #7754f6 !important; */
}
